<ng-container *ngIf="details$ | async as details; else loading">
  <app-map [height]="40" [place]="details.placeData.place"></app-map>

  <div class="container">
    <div class="rs-content">
      <div class="main-section">
        <h1>{{details.placeData.place.name}}</h1>
        <p class="text-muted">{{details.placeData.place.formatted_address}}</p>
        <p class="infobox">
          <span class="title">Keterangan</span><br />
          <strong>Okupansi</strong> adalah perbandingan jumlah pasien dengan ketersediaan ruang.<br />
          <strong>Barang Dibutuhkan</strong> adalah total barang yang diperlukan RS untuk pelayanan COVID-19.<br />
          <strong>Barang Mendesak</strong> adalah barang kebutuhan yang telah habis.<br />
          <strong>Barang Segera Habis</strong> adalah barang yang dalam keadaan terbatas dan akan habis kurang dari 7
          hari.
        </p>
        <!-- Aggregat -->
        <div class="details-aggregate">
          <div class="aggregate-item">
            <h1>{{details.okupansiICU | number:'1.0':'id'}}%</h1>
            <div class="aggregate-label">Okupansi ICU</div>
          </div>
          <div class="aggregate-item">
            <h1>{{details.okupansiIsolasi | number:'1.0':'id'}}%</h1>
            <div class="aggregate-label">Okupansi Isolasi</div>
          </div>
          <div class="aggregate-item">
            <h1 class="warning-2">{{details.totalKebutuhan | number:'1.0':'id'}}</h1>
            <div class="aggregate-label">Barang Dibutuhkan</div>
          </div>
          <div class="aggregate-item">
            <h1 class="text-danger">{{details.totalMendesak | number:'1.0':'id'}}</h1>
            <div class="aggregate-label">Barang Mendesak</div>
          </div>
        </div>
        <p class="infobox" *ngIf="userService.isPublic">
          <strong>Klik angka pada kolom berikut untuk melengkapi atau mengubah data.</strong><br />
          Isikan data sesuai kondisi dan kebutuhan, tidak
          harus semua terisi. Data akan tersimpan setiap kali anda klik tombol simpan.
        </p>
        <!-- <div class="marg-top-3"></div> -->
        <h2 style="margin-top:35px;">
          <mat-icon>security</mat-icon>Detail Permintaan APD yang dibutuhkan
        </h2>
        <div class="demand-container">
          <ng-container *ngIf="details.outStock.length > 0">
            <div class="demand-section right-space">
              <h3>Barang Mendesak/Sudah Habis</h3>
              <div class="header">
                <span>Item</span><span>Jumlah Kebutuhan</span>
              </div>
              <ng-container *ngFor="let l of details.outStock">
                <app-demand-card [placeData]="details.placeData" [key]="l.key" [title]="l.formLabel" [subtitle]="l.name"
                  [unitLabel]="l.unitLabel" [hasStatus]="true">
                </app-demand-card>
              </ng-container>
            </div>
          </ng-container>
          <ng-container *ngIf="details.shortSupply.length > 0">
            <div class="demand-section">
              <h3>Barang Segera Habis</h3>
              <div class="header">
                <span>Item</span><span>Jumlah Kebutuhan</span>
              </div>
              <ng-container *ngFor="let l of details.shortSupply">
                <app-demand-card [placeData]="details.placeData" [key]="l.key" [title]="l.formLabel" [subtitle]="l.name"
                  [unitLabel]="l.unitLabel" [hasStatus]="true">
                </app-demand-card>
              </ng-container>
            </div>
          </ng-container>
          <!-- <ng-container *ngFor="let l of details.filledLogistic">
              <div class="flex-item">
                <app-single-number-card [placeData]="details.placeData" [key]="l.key" [title]="l.formLabel"
                  [subtitle]="l.name" [unitLabel]="l.unitLabel" [hasStatus]="true">
                </app-single-number-card>
              </div>
            </ng-container> -->
        </div>
        <ng-container *ngIf="details.unfilledLogistic.length > 0 && userService.isPublic">
          <div class="marg-ver-2">
            <button class="marg-ver-3" mat-flat-button color="primary" [matMenuTriggerFor]="menu">
              <mat-icon>add_circle_outline</mat-icon> Minta tambahan alat
            </button>
          </div>
          <mat-menu #menu="matMenu" style="width:80%;">
            <ng-template matMenuContent>
              <button mat-menu-item *ngFor="let l of details.unfilledLogistic"
                (click)="openDialog(details.placeData, l)">
                {{ l.name }}
              </button>
            </ng-template>
          </mat-menu>
        </ng-container>

        <!-- <ng-container *ngIf="userService.isPublic">
            <p>Nomor contact person di RS/Puskesmas/Faskes ini
              yang dapat dihubungi (untuk keperluan permintaan alat-alat tambahan):
              <mat-spinner [diameter]="30" *ngIf="updatingContact"></mat-spinner>
              <ng-container *ngIf="details.placeData.latest?.contact?.value; else masukkan">
                <h2 style="color: blue">{{ details.placeData.latest?.contact?.value }}</h2>
                <button mat-raised-button color="primary" (click)="editContact(details.placeData)">Ubah contact
                  person</button>
              </ng-container>
              <ng-template #masukkan>
                <button mat-raised-button color="primary" (click)="editContact(details.placeData)">Masukkan contact
                  person</button>
              </ng-template>
            </p>
          </ng-container>

          <br />
          <mat-divider></mat-divider>
          <h3 class="marg-ver-3">Kapasitas Tempat Tidur/Ruang</h3>
          <div class="flex-row">
            <app-single-number-card class="flex-item" [placeData]="details.placeData" key="icu" [hasStatus]="true"
              title="Kapasitas ruang ICU di rumah sakit ini" subtitle="ICU"></app-single-number-card>
            <app-single-number-card class="flex-item" [placeData]="details.placeData" key="isolasi" [hasStatus]="true"
              title="Kapasitas ruang Isolasi di rumah sakit ini" subtitle="isolasi"></app-single-number-card>
          </div>
          <div class="marg-ver-3 marg-hor-2">
            <span style="font-weight:500;">Daya tampung tempat tidur/ruangan:</span>
            <b *ngIf="!userService.isPublic">
              &nbsp; {{ details.placeData.latest?.kondisi?.value ? 'Tidak Cukup' : 'Cukup' }}
            </b>
            <br>
            <mat-radio-group *ngIf="userService.isPublic" aria-label="Kondisi tempat tidur di RS ini"
              [value]="details.placeData.latest?.kondisi?.value"
              (change)="saveKondisi(details.placeData.place.place_id, $event.value)">
              <mat-radio-button style="margin-top: 10px;" value="0" class="radio"
                [checked]="details.placeData.latest?.kondisi?.value === 0">
                <b>Cukup</b> (masih ada tempat tidur kosong)</mat-radio-button>
              <br>
              <mat-radio-button style="margin-top: 10px;" value="1" class="radio"
                [checked]="details.placeData.latest?.kondisi?.value === 1">
                <b>Tidak Cukup</b> (semua tempat tidur penuh)</mat-radio-button>
            </mat-radio-group>
          </div>
          <br />
          <mat-divider></mat-divider>
          <h3 class="marg-ver-3">Dukungan alat yang tersedia di ruang Isolasi</h3>
          <div class="flex-row">
            <app-single-number-card class="flex-item" [placeData]="details.placeData" key="availableVentilator"
              [hasStatus]="true" title="Ketersediaan Non Invasive Ventilator di rumah sakit ini" subtitle="Ventilator">
            </app-single-number-card>
            <app-single-number-card class="flex-item" [placeData]="details.placeData" key="availableMechanicalVentilator"
              [hasStatus]="true" title="Ketersediaan Mechanical Ventilator di rumah sakit ini"
              subtitle="Mechanical Ventilator">
            </app-single-number-card>
            <app-single-number-card class="flex-item" [placeData]="details.placeData" key="availableEcmo" [hasStatus]="true"
              title="Ketersediaan Extracorporeal Membrane Oxygenation (ECMO) di rumah sakit ini" subtitle="ECMO">
            </app-single-number-card>
          </div> -->
        <ng-container *ngIf="userService.isRelawan">
          <h2 style="margin-top:35px;">
            <mat-icon>local_hotel</mat-icon>Perawatan COVID-19
          </h2>
          <!-- <h3 class="marg-top-5 marg-bot-3">Orang Dalam Pemantauan (ODP)</h3>
            <div class="marg-hor-2">
              <app-single-number-card [placeData]="details.placeData" key="odp" title="Orang Dalam Pemantauan" subtitle="ODP">
              </app-single-number-card>
            </div>
            <br />
            <mat-divider></mat-divider> -->
          <h3 class="marg-ver-3">Pasien Dalam Rawatan</h3>
          <div class="covid-cards">
            <app-single-number-card class="covid-item right-space" [placeData]="details.placeData" key="usingIsolation"
              title="Jumlah pasien yang menggunakan ruang isolasi saat ini" subtitle="Ruang Isolasi"
              numberClass="warning-1"></app-single-number-card>
            <app-single-number-card class="covid-item right-space" [placeData]="details.placeData" key="usingIcu"
              title="Jumlah pasien yang menggunakan ruang ICU saat ini" subtitle="Ruang ICU" numberClass="warning-2">
            </app-single-number-card>
            <app-single-number-card class="covid-item" [placeData]="details.placeData" key="usingVentilator"
              title="Jumlah ventilator yang terpakai di rumah sakit saat ini" subtitle="Ventilator Terpakai"
              numberClass="warning-3"></app-single-number-card>
          </div>
          <h3 class="marg-ver-3">Pasien Dalam Pengawasan (PDP)</h3>
          <div class="covid-cards">
            <app-single-number-card class="covid-item right-space" [placeData]="details.placeData" key="pdpr"
              title="Jumlah Pasien Dalam Pengawasan yang Dirawat" subtitle="Dirawat" numberClass="warning-1">
            </app-single-number-card>
            <app-single-number-card class="covid-item right-space" [placeData]="details.placeData" key="pdps"
              title="Jumlah Pasien Dalam Pengawasan yang Sembuh" subtitle="Sembuh" numberClass="warning-2">
            </app-single-number-card>
            <app-single-number-card class="covid-item" [placeData]="details.placeData" key="pdpp"
              title="Jumlah Pasien Dalam Pengawasan yang Meninggal" subtitle="Meninggal" numberClass="warning-3">
            </app-single-number-card>

          </div>

          <h3 class="marg-ver-3">Pasien Positif COVID-19</h3>
          <div class="covid-cards">
            <app-single-number-card class="covid-item right-space" [placeData]="details.placeData" key="covr"
              title="Jumlah Pasien Positif yang Dirawat" subtitle="Dirawat" numberClass="warning-1">
            </app-single-number-card>
            <app-single-number-card class="covid-item right-space" [placeData]="details.placeData" key="covs"
              title="Jumlah Pasien Positif yang Sembuh" subtitle="Sembuh" numberClass="warning-2">
            </app-single-number-card>
            <app-single-number-card class="covid-item" [placeData]="details.placeData" key="covp"
              title="Jumlah Pasien Positif yang Meninggal" subtitle="Meninggal" numberClass="warning-2">
            </app-single-number-card>
          </div>
          <br />
        </ng-container>

        <!-- begin: Updated data History -->
        <ng-container *ngIf="userService.isModerator">
          <mat-divider></mat-divider>
          <app-rs-log [placeData]="details.placeData"></app-rs-log>
        </ng-container>
        <!-- end: Updated data History -->

      </div>
      <!-- end: main-section -->

      <!-- begin: side-section -->
      <div class="side-section">
        <a *ngIf="!userService.role" mat-raised-button color="primary" routerLink="/login">
          <mat-icon>person_add</mat-icon>
          <span class="marg-left-2">Mendaftar relawan faskes ini</span>
        </a>
        <div class="text-center marg-ver-3">
          Bagikan info kebutuhan RS/faskes ini di media sosial
        </div>
        <div class="social-media-buttons-container">
          <span class="title">BAGIKAN MELALUI</span>
          <div class="social-media-buttons">
            <share-facebook
              hashtag="#KawalRumahSakit"
              text="{{details.placeData.place.name}} membutuhkan {{details.totalKebutuhan}} barang. Mari kita gotong-royong membantu tenaga kesehatan di {{details.placeData.place.name}} dengan kelengkapan APD dan alat kesehatan lainnya.">
            </share-facebook>
            <share-twitter
              text="{{details.placeData.place.name}} membutuhkan {{details.totalKebutuhan}} barang. Mari kita gotong-royong membantu tenaga kesehatan di {{details.placeData.place.name}} dengan kelengkapan APD dan alat kesehatan lainnya. Selengkapnya di #KawalRumahSakit">
            </share-twitter>
            <share-whatsapp
              text="{{details.placeData.place.name}} membutuhkan {{details.totalKebutuhan}} barang. Mari kita gotong-royong membantu tenaga kesehatan di {{details.placeData.place.name}} dengan kelengkapan APD dan alat kesehatan lainnya. Selengkapnya di #KawalRumahSakit">
            </share-whatsapp>
          </div>
        </div>
        <h2 style="margin-top:35px;">
          <mat-icon>local_hospital</mat-icon>Detail Informasi Faskes
        </h2>
        <h3 style="margin-top:35px;">
          <mat-icon>account_balance</mat-icon>Informasi Umum
        </h3>
        <table border="0">
          <tr>
            <td class="info-rs-label">Jenis Layanan</td>
            <td>{{details.placeData.latest?.jenisLayanan?.value || 'Tidak Ada'}}</td>
          </tr>
          <tr>
            <td class="info-rs-label">Status Kepemilikan</td>
            <td>{{details.placeData.latest?.statusKepemilikan?.value || 'Tidak Ada'}}</td>
          </tr>
          <tr>
            <td class="info-rs-label">Rumah Sakit Rujukan</td>
            <td>
              <span *ngIf="details.placeData.latest?.isRujukan?.value == 1; else bukanRujukan">Ya</span>
              <ng-template #bukanRujukan>
                <span *ngIf="details.placeData.latest?.isRujukan?.value == 0; else emptyValue">Bukan</span>
                <ng-template #emptyValue><span>Tidak Ada</span></ng-template>
              </ng-template>
            </td>
          </tr>
          <tr>
            <td class="info-rs-label">Kontak Rumah Sakit</td>
            <td>{{details.placeData.latest?.contact?.value || 'Tidak Ada'}}</td>
          </tr>
          <tr>
            <td class="info-rs-label">Kontak Relawan</td>
            <td>{{details.placeData?.relawanContacts || 'Tidak Ada'}}</td>
          </tr>
        </table>
        <h3 style="margin-top:35px;">
          <mat-icon>accessibility_new</mat-icon>Informasi Layanan COVID-19
        </h3>
        <table border="0">
          <tr>
            <td class="info-rs-label">Kapasitas ICU</td>
            <td>{{details.placeData.latest?.icu?.value || 'Tidak Ada'}}</td>
          </tr>
          <tr>
            <td class="info-rs-label">Kapasitas Isolasi</td>
            <td>{{details.placeData.latest?.isolasi?.value || 'Tidak Ada'}}</td>
          </tr>
          <tr>
            <td class="info-rs-label">Ventilator</td>
            <td>{{details.placeData.latest?.availableVentilator?.value || 'Tidak Ada'}}</td>
          </tr>
          <tr>
            <td class="info-rs-label">Mechanical Ventilator</td>
            <td>{{details.placeData.latest?.availableMechanicalVentilator?.value || 'Tidak Ada'}}</td>
          </tr>
          <tr>
            <td class="info-rs-label">ECMO</td>
            <td>{{details.placeData.latest?.availableEcmo?.value || 'Tidak Ada'}}</td>
          </tr>
          <tr>
            <td class="info-rs-label">Jumlah Nakes</td>
            <td>{{details.placeData.latest?.jumlahNakes?.value || 'Not set'}}</td>
          </tr>
          <tr *ngIf="details.placeData.latest.pdpr">
            <td class="info-rs-label">Pasien PDP</td>
            <td>{{details.placeData.latest?.pdpr?.value}}</td>
          </tr>
        </table>
        <div *ngIf="userService.isRelawan" class="marg-ver-3">
          <!-- <a mat-button routerLink="/rs-update/{{details.placeData.place.place_id}}" style="color: #3389FE;">Edit Info Faskes <mat-icon>arrow_forward</mat-icon></a> -->
          <a mat-button [routerLink]="['/rs-update', details.placeData.place.place_id]" style="color: #3389FE;">
            Edit Info Faskes <mat-icon>arrow_forward</mat-icon>
          </a>
        </div>
        <div *ngIf="userService.isPublic && details.placeData.latest?.contact?.value" class="marg-ver-3">
          <button mat-button class="btn-contact-faskes" matRipple
            (click)="contactFaskes(details.placeData.latest.contact.value)"><span class="icon-whatsapp"></span> Hubungi
            Kontak Faskes</button>
        </div>
      </div>
      <!-- end: side-section -->
    </div>
  </div>
  <!-- end: RS Detail Page -->
</ng-container>

<ng-template #loading>
  <div style="display:flex;align-items:center;justify-content:center;">
    <mat-spinner diameter="25"></mat-spinner>
  </div>
</ng-template>
