<h2 style="margin-top: 35px;"><mat-icon>history</mat-icon>Riwayat perubahan data</h2>

  <ng-container *ngFor="let c of changesByDate">
    <h3>{{c.updatedAt}}</h3>
    <ng-container *ngFor="let uc of c.userChanges">
      <ng-container *ngIf="uc.user$ | async as user">
        <div class="user-container">
          <img [src]="user.photoURL">
          <div class="">
            <app-user-link [uid]="user.userid"></app-user-link><br/>
            {{ USER_ROLE[user.role] }}
          </div>
        </div>
      </ng-container>

      <div class="changelogs-container">
      <ng-container *ngFor="let r of uc.rev">
         <div class="changelog-item">
           <span class="field-changed">{{r.label}}</span>
           <ng-container *ngIf="r.prev !== undefined; else newEntry">
             <div class="changes">
               <span class="prev-value right-space">{{ r.prev }}</span>
               <span class="new-value">{{ r.value }}</span>
             </div>
           </ng-container>
           <ng-template #newEntry>
             <div class="changes">
               <span class="new-value">{{ r.value }}</span>
               <span class="new-entry">baru</span>
             </div>
           </ng-template>
           <span class="updated-at">{{r.ts | date:'d MMMM, y h:mm z'}}</span>
         </div>
      </ng-container>
      </div>
    </ng-container>
  </ng-container>
  <!-- <div *ngFor="let c of changes" class="changelog-item">
    <ng-container *ngIf="c.user$ | async as user">
      <img [src]="user.photoURL">
      <span class="field-changed">{{c.label}}</span>
      <ng-container *ngIf="c.prev !== undefined; else newEntry">
        <div class="changes">
          <span class="prev-value right-space">{{ c.prev }}</span>
          <span class="new-value">{{ c.value }}</span>
        </div>
      </ng-container>
      <ng-template #newEntry>
        <div class="changes">
          <span class="new-value">{{ c.value }}</span>
          <span class="new-entry">baru</span>
        </div>
      </ng-template>
      <span class="updated-at" matTooltip="{{c.ts | date:'d MMMM, y h:mm z'}}">{{c.updatedAgo}}</span>
    </ng-container>
  </div> -->


<!-- <table border="1">
  <tr>
    <td width="250">Kapan diubah</td>
    <td width="150">Perubahan</td>
  </tr>
  <tr *ngFor="let c of changes">
    <ng-container *ngIf="c.user$ | async as user">
      <td>
        <img [src]="user.photoURL" style="float: left;">
        {{ c.ts | date:'short' }}<br>
        <app-user-link [uid]="user.userid"></app-user-link>
        ({{ USER_ROLE[user.role] }})<br>
        <ng-container *ngIf="user.email">
          {{ user.email }}<br>
        </ng-container>
      </td>
      <td>
        {{ c.key }} :
        <ng-container *ngIf="c.prev !== undefined">{{c.prev}} -&gt;</ng-container>
        {{ c.value }}
      </td>
    </ng-container>
  </tr>
</table> -->
