.container{
  display: flex;
  flex-flow: column;
  height: calc(100vh - 64px);
}
.spacer{
  flex-grow: 1;
}
/* .header {
  display: flex;
  align-items: center;
} */
.header{
  vertical-align: bottom;
}
.header img {
  height: 40px;
  margin-right: 16px;
}

.content{
  flex-grow: 1;
}

.footer{
  border-top:1px solid #E0E0E0;
  margin-top:32px;
  padding:10px 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.footer a{
  color:#3C4249;
  text-decoration: underline;
}
.footer .social-media a{
  text-decoration: none;
  margin:0px 6px;
}
.footer .social-media a img{
  height:15px;
}

.is-mobile .top-toolbar{
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
.is-mobile .container{
  padding-top:56px; /*56px is equal to toolbar height*/
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  /* flex: 1; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index:1;
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  /* flex: 1 0 auto; */
}

/*=========================================================*/
/*==== TOOLBAR ============================================*/
/*=========================================================*/

.bottomnav.mat-toolbar {
  -webkit-transition: 700ms ;
  -ms-transition:  700ms ;
  transition: 700ms ;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}
.hide-toolbar{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.show-toolbar{
  visibility: visible;
  opacity: 1;
}
/*TOP Toolbar*/
.topnav{
  flex-grow:1;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: baseline;
}
.topnav .topnav-menus{
  flex-grow:1;
  display: flex;
  justify-content: flex-start;
  align-items:center;
}
.topnav .topnav-menus a{
  margin-left:32px;
  font-size: 16px;
  font-weight: normal;
  line-height: 21px;
  color: #22272C;
  padding-bottom:6px;
  border-bottom: 2px solid transparent;
  margin-bottom:6px;
}
.topnav .topnav-menus a.active, .topnav .topnav-right .menu-item.active{
  border-bottom: 2px solid #D8232A;
}
.topnav .topnav-right{
  /* padding:5px; */
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
}
.topnav .topnav-right .search-icon,  .topnav .topnav-right .menu-item{
  margin-right:32px;
}
.topnav .topnav-right .menu-item{
  font-size: 16px;
  font-weight: normal;
  line-height: 21px;
  color: #22272C;
  padding-bottom:6px;
  border-bottom: 2px solid transparent;
  margin-top:6px;
}
.topnav-mobile{
  flex-grow:1;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: baseline;
}
.topnav-mobile a{
  text-decoration: none;
}
.topnav-mobile a .mat-icon{
  font-size: 1.4rem;
  line-height: 1.4rem;
}
.topnav-mobile span{
  align-items: baseline;
  font-size: 1.0rem;
  font-weight: 200;
  line-height: 1.0rem;
  vertical-align: text-bottom;
  flex-grow:1;
}

/* BOTTOM Toolbar*/
.bottomnav{
  background-color: #fff;
  position: fixed;
  z-index: 998;
  background-color: #fff;
  bottom:0;
  border-top:1px solid rgba(0,0,0,.125);
}
.bottomnav.mat-toolbar-single-row{
  padding:0!important;
}
.bottomnav .menu-item-container{
  width:100%;
  display: flex;
  flex-flow:row;
  justify-content: space-around;
  align-items:stretch;
  height:100%;
}
.bottomnav .menu-item-container .menu-item{
  display: flex;
  flex-grow: 1;
  flex-flow:column;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
.bottomnav .menu-item-container .menu-item .mat-icon{
  font-size:1.4rem;
  color:#858A93;
}
.bottomnav .menu-item-container .menu-item.active .mat-icon{
  /* border-radius: 50% !important;
  background-color: #D8232A; */
  color:#D8232A;
}
.bottomnav .menu-item-container .menu-item .menu-item-text{
  font-size:0.6rem !important;
  line-height: 0.65rem !important;
  margin-top:2px;
  color:#3C4249;
}
.rounded-circle {
  border-radius: 50% !important;
}
.user-avatar-bottom{
  display: flex;
  margin-right:7px;
}
.user-avatar-bottom img{
  margin-top:
}

.avatar {
  overflow: visible;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .footer{
    font-size:0.7rem;
    line-height: 0.8rem;
    height:48px;
  }
  .mat-drawer-content, .mat-sidenav-content{
    /* viewport height - ( toolbar height + footer height) */
    min-height: calc(100vh - (56px + 48px));
  }
  .header img {
    height: 25px;
    margin-right: 0;
    margin-top:4px;
  }
  .footer{
    margin-bottom:56px;
  }
}
@media screen and (min-width: 768px) {
  .footer{
    font-size:0.9rem;
    line-height: 1.0rem;
    height:48px;
  }
  .mat-drawer-content, .mat-sidenav-content{
    /* viewport height - ( toolbar height + footer height) */
    min-height: calc(100vh - (64px + 48px));
  }
  .header img {
    height: 40px;
    margin-right: 16px;
  }
  .footer{
    margin-bottom:0px;
  }
}
