<ng-container *ngIf="userDetails$ | async as userDetails">
  <div class="responsive">
    <div class="title-wrapper">
      <div class="image-wrapper">
        <img [src]="userDetails.user.photoURL">
      </div>
      <div class="user-detail">
        <h1>{{ userDetails.user.displayName }}</h1>
        <p>{{ userDetails.user.email }}</p>
        <p>{{ userDetails.user.phoneNumber }}</p>
        <p>Register date: {{ userDetails.user.registerDate.toDate() }}</p>
        <p>
          <span>Role: </span>
          <ng-container *ngIf="userDetails.user.role >= userService.user.role; else changeRoleTemplate">
            {{ USER_ROLE[userDetails.user.role] }}
          </ng-container>
        </p>
      </div>
    </div>
    <ng-template #changeRoleTemplate>
      <mat-radio-group aria-label="Change Role" [value]="userDetails.user.role"
        [disabled]="userService.isChangingRole"
        (change)="userService.changeRole(userDetails.user, $event.value)">
        <mat-radio-button [value]="USER_ROLE.BANNED"
          [style.font-weight]="userDetails.user.role == USER_ROLE.BANNED ? 'bold' : ''">
          Banned
        </mat-radio-button>
        &nbsp;
        <mat-radio-button [value]="USER_ROLE.PUBLIC"
          [style.font-weight]="userDetails.user.role == USER_ROLE.PUBLIC ? 'bold' : ''">
          Public
        </mat-radio-button>
        &nbsp;
        <mat-radio-button [value]="USER_ROLE.RELAWAN"
          [style.font-weight]="userDetails.user.role == USER_ROLE.RELAWAN ? 'bold' : ''">
          Relawan
        </mat-radio-button>
        &nbsp;
        <mat-radio-button *ngIf="userService.user.role > USER_ROLE.MODERATOR"
          [style.font-weight]="userDetails.user.role == USER_ROLE.MODERATOR ? 'bold' : ''"
          [value]="USER_ROLE.MODERATOR">
          Moderator
        </mat-radio-button>
      </mat-radio-group>
    </ng-template>

    <ng-container *ngIf="userDetails.user.registration as reg">
      <h3>Info Pendaftaran</h3>
      <table>
        <tr>
          <td>Profesi</td>
          <td>:</td>
          <td>{{reg.profesi}}</td>
        </tr>
        <tr>
          <td>Profesi Lainnya</td>
          <td>:</td>
          <td>{{reg.profesiLainnya}}</td>
        </tr>
        <tr>
          <td>Instansi</td>
          <td>:</td>
          <td>{{reg.instansi}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>:</td>
          <td>{{reg.regEmail}}</td>
        </tr>
        <tr>
          <td>No. Telp</td>
          <td>:</td>
          <td>{{reg.noHp}}</td>
        </tr>
        <tr>
          <td>Deskripsi</td>
          <td>:</td>
          <td>{{reg.deskripsi}}</td>
        </tr>
        <tr *ngIf="reg.fotoIdCard">
          <td>Foto</td>
          <td>:</td>
          <td><img class="photo-id" [src]="reg.fotoIdCard" /></td>
        </tr>
      </table>
    </ng-container>

    <ng-container *ngIf="userDetails.user.changes">
      <h3>Perubahan data</h3>
      <p *ngIf="userDetails.hasPending && userService.isModerator">
        <b style="background-color: yellow">Background kuning</b> menandakan perubahan data masih dalam review.
        <br><br>
        Jika user ini dipromote jadi Relawan, maka semua pending editnya akan otomatis diset menjadi publik (dapat
        dilihat semua orang).
        <br><br>
        Membalikkan status menjadi Public atau Banned saat ini tidak me-revert perubahannya. Anda harus kontak admin
        untuk me-revert semua valuesnya (atau anda dapat membalikkannya sendiri kalau editannya cuma sedikit).
      </p>

      <ul>
        <!-- TODO: include non rs data. Contoh: NXkdrslxdTUhqt862tppdPgJE5R2 rs/ChIJL0-JS255ei4RNuoT6pc3KKw-->
        <ng-container *ngFor="let e of Object.entries(userDetails.user.changes)">
          <li *ngIf="userDetails.placeDataById[e[0]] as placeData">
            <a [routerLink]="['/rs', e[0]]">
              {{ placeData.place.name }}
            </a>
            <table class="changelog">
              <tr *ngFor="let item of entries(e[1])"
                [style.backgroundColor]="isPending(item, placeData) ? 'yellow' : ''">
                <td>{{ item[0] }}</td>
                <td>{{ item[1].value }}
                  &nbsp; &nbsp;
                  <ng-container *ngIf="placeData.latest[item[0]] as l">
                    latest value = {{ l.value }}
                  </ng-container>
                </td>
              </tr>
            </table>
          </li>
        </ng-container>
      </ul>
    </ng-container>
  </div>
</ng-container>
