.image-wrapper img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.image-wrapper {
  margin-right: 16px;
}

.title-wrapper {
  display: flex;
  margin-top: 32px;
  margin-bottom: 16px;
}

.user-detail h1 {
  margin-bottom: 8px;
  font-size: 24px;
}

.user-detail p {
  margin-bottom: 4px;
}

.user-detail span {
  margin-right: 8px;
}

table {
  border-collapse: collapse;
}

table td:not(:first-child) {
  padding-left: 8px;
}

.photo-id {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

td {
  vertical-align: top;
}

ul li {
  margin-bottom: 16px;
}

table.changelog {
  margin-top: 8px;
}

table.changelog td:last-child {
  text-align: right;
}

table.changelog tr:nth-child(odd) {
  background-color: #F1F2F3;
}

table.changelog tr {
  border-bottom: 1px solid #E1E2E6;
}

table.changelog td {
  padding: 4px 8px 4px 0;
}

table.changelog td:first-child {
  padding-left: 8px;
}
