<div class="map-wrapper">
  <app-map [height]="40" [place]="place$ | async" (clickedPlaceId)="placeDetailTrigger$.next($event)"></app-map>
</div>

<div class="container-wrapper" [ngClass]="{'has-result':place$ | async}">
  <div class="container">
    <div class="rs-content">
      <div class="rs-form-container">
        <form>
          <h2 class="search-title">Daftarkan Rumah Sakit Anda</h2>
          <p>Silakan mendaftarkan Rumah Sakit yang akan diperbarui kebutuhannya.</p>
          <div class="search-label">Nama Rumah Sakit atau Faskes</div>
          <div class="search-rs">
            <input class="search-rs-input" matInput #pacInput (click)="scrollIntoView()"
              placeholder="Ketik nama rumah sakit anda">
            <mat-icon class="as-placeholder">search</mat-icon>
          </div>

          <p></p>
          <p *ngIf="isPlaceSelected">
            <mat-spinner [diameter]="20" style="float: left"></mat-spinner>
            &nbsp; sedang memuat data ...
          </p>

          <!-- DO NOT REMOVE THIS #anchor -->
          <br #anchor>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="rs-content">
    <div class="rs-form-container">
      <a [routerLink]="['/home']" class="link">
        Atau klik di sini untuk melihat rumah sakit terdekat
      </a>
    </div>
  </div>
</div>

<div *ngIf="place$ | async as place"></div>
