.map-wrapper {
  margin-bottom: 24px;
}

h2.search-title {
  /* margin-top: 16px; */
  margin-bottom: 0px;
  text-align: left;
}

.space-search-result {
  height: 100px;
}

.rs-full-width {
  width: 100%;
}

.ok {
  color: green;
  font-weight: bold;
  font-size: 14px;
}

.link {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.rs-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LAYOUT */
.container {
  width: calc(100% - 30px);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.rs-content {
  padding-top: 0px !important;
  /* width: 100%; */
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.rs-content .rs-form-container {
  width: 55vw;
  margin: 0 auto;
}

.rs-content .rs-form-container .form-actions {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.search-rs {
  position: relative;
}

.search-rs-input {
  border-radius: 8px;
  padding: 9px 0px 9px 12px;
  width: calc(100% - 12px);
  border: 1px solid #DADADA;
  font-size: 16px;
  line-height: 21px;
  color: #858A93;
  background-color: #fff;
  /* -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out; */
  outline: none;
}

.search-rs-input:focus {
  border: 1px solid #D8232A;
  box-shadow: none;
}

.as-placeholder {
  position: absolute;
  right: 3px;
  top: 10px;
  color: #DADADA;
}

.search-rs .mat-icon {
  font-size: 20px !important;
}

.search-label {
  margin-top: 30px;
  margin-bottom: 8px;
}

.has-result {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: -24px;
  margin-bottom: 24px;
}

@media only screen and (max-width: 599px) {
  .container {
    width: calc(100% - 20px);
    padding-right: 10px;
    padding-left: 10px;
  }

  .rs-content .rs-form-container {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 769px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
