/* BANNER */
.beranda-banner{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding:30px;
}
.beranda-banner .left-banner{
  max-width: 45vw;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.beranda-banner .left-banner h1{
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.8rem;
}
.recent-header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding:30px;
}
.recent-header h2{
  margin:0;
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
}
.recent-header a{
  color: #3389FE;
}
.social-media-section{
  background-color: #fff;
  padding:60px 30px;
  margin:30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media-section .social-media-section-content{
  width:45vw;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.social-media-buttons-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-media-buttons-container .title{
  font-size:0.8rem;
  font-weight: 200;
  color:#777;
  letter-spacing: 0.2rem;
}
.social-media-buttons{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.social-media-buttons > *{
  margin:0.5rem 0.25rem;
}
.home-footer-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:30px;
}
.social-media-links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.social-media-links a{
  margin-right:10px;
}
.btn-brand-instagram{
  border-radius: 4px;
  padding:6px 10px;
  background-color: #E4405F;
  color:#fff;
}
.btn-brand-facebook{
  border-radius: 4px;
  padding:6px 10px;
  background-color: #1877F2;
  color:#fff;
}
.btn-brand-twitter{
  border-radius: 4px;
  padding:6px 10px;
  background-color: #1DA1F2;
  color:#fff;
}
.btn-brand-instagram span, .btn-brand-facebook span, .btn-brand-twitter span {
  margin-right:10px;
}
.btn-brand-instagram:hover, .btn-brand-facebook:hover, .btn-brand-twitter:hover {
  opacity: 0.7;
}

.powered-by{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.powered-by .left-side .kawalrs{
  font-weight: 400;
  text-align: right;
}
.powered-by .left-side .powered{
  color:#3C4249;
  font-size: .6rem;
  text-align: right;
}
.powered-by .right-side img{
  width:50px;
  margin-left:15px;
}
@media only screen and (max-width: 599px) {
  .beranda-banner{
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
    padding:30px auto;
  }
  .beranda-banner img{
    width:calc(100vw - 60px);
    max-width:calc(100vw - 60px);
  }
  .beranda-banner .left-banner{
    width:100%;
    max-width:100vw;
    align-items: center;
    justify-content: center;
  }
  .beranda-banner .left-banner h1{
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
  }
  .recent-header{
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .recent-header h2{
    font-size: 16px;
    line-height: 18px;
  }
  .social-media-section .social-media-section-content{
    width:100vw;
  }
  .social-media-section .social-media-section-content h1{
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .home-footer-section{
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding:30px auto;
  }
  .social-media-links{
    flex-direction: column;
    justify-content: space-around;
  }
  .social-media-links a{
    margin-bottom:10px;
    margin-right:0px;
  }
  .powered-by{
    margin-top:20px;
  }
}
